html{
    font-size: 62.5%; /**equivalente para 1rem = 10px**/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    line-height: 2;
}

/**Globales**/

.contenedor{
    max-width: 40rem;
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor{
        max-width: 90rem;
        width: 90%;
        margin: 0 auto;
    }
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 4rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    h1{
        font-size: 7rem;
    }
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.6rem;
}

img{
    max-width: 100%; /**Imagenes adaptables al ancho de los dispositivos**/
}

/**Utilidades**/

.centrar-texto{
    text-align: center;
}

/**Header**/

/**Barra**/
.logo{
    max-width: 10rem;
}
.barra{
    background-color: #ffffff;
    display: block;
    text-align: center;
    margin-bottom: 0;
}

.barra ul{
    padding: 0;
    list-style: none;
}

.navegacion__a--rojo{
    text-decoration: none;
    color: #343334;
}

.navegacion__a--celeste:hover{
    color: #76e6f6;
}
.navegacion__a--rojo:hover{
    color: #f75a5a;
}
@media (min-width: 768px) {
    .navegacion li{
        display: inline;
        margin: 0 1.5rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }


}

/**Site-Header**/

.fondo-header{
    background: url(../img/header1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 45rem;
}

@media (min-width: 768px) {
    .fondo-header{
        height: calc(100vh - 13.345rem); 
        background-attachment: fixed;
    }
}

.text-header{
    text-align: center;
    color: #ffffff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.p1{
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
}

.p2{
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-style: oblique;
}


/**Precios**/

.precios{
    background-color: #171717;
}
.contenedor-precios{
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    width: 95%;
    margin: 0rem auto;
}
@media (min-width: 995px) {
    .contenedor-precios{
        max-width: 90rem;
        width: 90%;
        margin: 0 auto;
    }
}
.corte__promo{
    order: -1;
}

@media (min-width: 995px) {
    .corte__promo{
        order: unset;
    }
}

@media (min-width: 768px) {
    .contenedor-precios{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.corte{
    max-width: 40rem;
    max-height: 70rem;
    margin: 2rem auto;
    border: 1px solid #171717;
    background-color: #ffffff;
}

@media (min-width: 768px) {
    .corte{
        margin: 2rem;
    }
}

.imagen-corte{
    overflow: hidden;
}

.imagen-corte__img{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    object-position: top;
    border-bottom: 1px solid #171717;
}

.imagen-promo__img{
    min-width: 20rem;
}


.text-corte__h3{
    width: 25rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0 auto;
    border-bottom: 1px solid #746f6f;
}

.text-corte__p{
    text-align: start;
    width: 25rem;
    margin: 1rem auto;
}

/**Botones**/

.btn{ 
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 2rem 3rem;
    display: block;
    margin: 1rem auto;
    max-width: 25rem;
}

.btn__corte{
    background-color: #f75a5a;
    transition: background 1s;
}

.btn__corte:hover{
    background-color: #171717e6;
}

.btn__promo{
    background-color: #171717e6;
    transition: background 1s, color 1s;
}

.btn__promo:hover{ 
    color: #171717;
    background-color: #76e6f6;

}

@media (min-width: 768px) {
    .btn{
    display: inline-block;
    padding: 1rem 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    }
}

/**HORARIOS**/

.horarios{
    padding: 4rem 0;
}

.horarios__text{
    text-align: start;
}

@media (min-width: 768px) {
    .horarios__text{
        text-align: center;
    }
}

.horarios__text-list{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: #343334;
}

.horarios__heading{
    font-weight: 300;
    color: #f75a5a;
    text-transform: uppercase;
}


/**FORMULARIO**/

.form-heading{
    font-weight: 300;
    color: #171717;
    text-transform: uppercase;
}

.site-contactanos{
    background-color: #e4e4e4;
    padding: 4rem 0;
}

input{
    background-color: #e4e4e4;
    display: block;
    border: none;
    border-bottom: 0.5px solid #171717;
    margin-bottom: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    line-height: 2;
    padding-left: 1rem;
    width: 100%;
}

input::placeholder{
    font-family: 'Raleway', sans-serif;
}

textarea{
    display : block;
    appearance: none;
    color: #171717;
    background-color: #e4e4e4;
    resize: none;
    border: none;
    border-bottom: 0.5px solid #171717;
    padding: 1rem 0 0 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    width: 100%;

}

textarea::placeholder{
    font-family: 'Raleway', sans-serif;
}

input, textarea:focus{
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #e4e4e4 inset;
}

.btn-form{
    background-color: #171717;
    padding: 0rem 3rem;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    color: #ffffff;
}

@media (min-width: 768px) {
    .btn-form{
        display: block;
        margin: 1rem auto;
        width: 100%;
    }
}

.btn-form:hover{
    cursor: pointer;
}

.contenido-form p{
    font-family: 'Italianno', cursive;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .form-contactanos{
        display: flex;
        justify-content: space-between;
    }

    .form-heading{
        flex: 0 0 50%;
    }

    .contenido-form{
        flex: 0 0 50%;
    }
}

/**Footer**/

.site-footer{
    min-height: 15rem;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    padding-top: 6rem;
    margin: 0 auto;
}

.redes-sociales__img{
    width: 4rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .redes-sociales__img{
        width: 3rem;
    }
}